.star{
  color : #ee6723;
}
.sec-header p{
  font-size: 1.4em;
  color : #696871
}
.sec-header h2 {
    margin: 0 0 18px;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -1.88px;
    text-align: center;
    color: #19191b;
}

.testi-text {
  /* width: 296px;
  height: 195px; */
  margin: 30px 0 33px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.86;
  letter-spacing: -0.66px;
  color: #19191b;
}

.testi-img {
  border-radius : 50%;
  width : 43px;
  height : 43px
}
footer {
  padding : 100px;
  background-color: black;
  padding-bottom: 30px;
}
footer ul li {
  margin : 20px 0;
  font-weight: lighter; 
}
.input {
  height: 73px;
}
.simple-form {
  margin : 130px 0 0 ;
}

.email-84 {
  width: 18px;
  height: 15px;
  margin: 21px 19px 18px 0;
  object-fit: contain;
}

.Rectangle {
  width: 510px;
  height: 64px;
  margin: 50px 49px 0 4px;
  padding: 5px 5px 5px 18px;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color: #ffffff;
}
.BG {
  width: 180px;
  height: 54px;
  margin: 0 0 0 93px;
  padding: 15px 38px 15px 37px;
  border-radius: 4.5px;
  border: solid 0.9px #c31a12;
  background-color: #f04037;
}
.landing-email { 
  border : none;
  outline:  none;
}
.iPhone-Body {
  width: 296px;
  height: 591px;
  margin: 0 0 16px;
  padding: 15px 18px 14px;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0);
}
.Travel-the-world-m {
  width: 481px;
  height: 126px;
  margin: 0 0 27px;
  font-family: CircularStd;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  color: #19191b;
}
.Create-custom-landin {
  width: 467px;
  height: 105px;
  margin: 27px 14px 50px 0;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #19191b;
}

.landing-testimonials{
  background-color: #5454d4;
}
.testimonial-1 .star{
  color : #fedc5a
}

.OMG-I-cannot-belie {
  width: 463px;
  height: 104px;
  margin: 23px 0 20px;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #ffffff;
}

.author {
  width: 150px;
  height: 26px;
  margin: 20px 366px 0 0;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: rgba(255, 255, 255, 0.7);
}

.Making-trip-is-fun {
  width: 475px;
  height: 126px;
  margin: 0 0 22px;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  color: #19191b;
}

.Create-custom-landin {
  width: 464px;
  height: 105px;
  margin: 22px 8px 39px 3px;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #696871;
}

.Oval {
  width: 44px;
  height: 44px;
  padding: 8px 18px;
  background-color: #5454d4;
  border-radius : 50%;
  color : #fff
}
.With-lots-of-unique {
  width: 291px;
  height: 76px;
  margin: 13px 15px 0 19px;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
}
.Find-your-trip-partn {
  width: 306px;
  height: 24px;
  margin: 0 0 13px 19px;
  object-fit: contain;
  font-size: 18.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  color: #19191b;
}

.Img-1 {
  width: 296px;
  height: 606px;
  margin: 16px 0 0 167px;
  object-fit: contain;
  transform: rotate(-353deg);
}
.showcase {

}
.showcase h2 {
  font-size : 60px;
  width : 684px;
  margin : 0 auto;
}
.showcase .create {
  font-size:  21px;
  width : 684px;
  margin : 15px auto;
  color : #696871
}
.timer {
  width: 1140px;
}
.timer .block {
  background : #5454d4;
  width : 74px;
  height : 89px;
  color : #fff;
  border-radius : 8px;
  padding : 0 15px 14px;
  margin : 0 15px 0 0;
}
.block .num{
  font-size: 38px;
  width : 44px;
  height : 48px;
  /* margin : 0 0 1; */
  margin-bottom : 0;
}
.block .day {
  width : 34px;
  height : 20px;
  margin : 0 auto;
  font-size: 16px;
}
.stay {
  font-size : 18px;
  margin-top: 15px;
}

.subscribe {
  width : 475px;
  margin : 30px auto;
  padding : 5px 5px 6px 20px;
  border-radius : 5px;
  border : 1px solid #eae9f2;

}

input {
  outline : none;
  border : none;
  padding-left : 5px;
}
button {
  width : 200px;
  height : 60px;
  border-radius : 5px;
  background : #c31a12;
  border : none;
  color : #fff;
  padding : 17px 51px 16px;
  font-size: 21px;
}
.social {
  width: 400px;
  margin : 150px auto 0 auto

}
.social i {
  padding-left: 25px;
  display: inline-block;
  width : 85px;
  font-size: 30px;
  color : #ccc;
  margin-top: 20px;
}
.social i:hover {
  color: #5454d4;
}
.showcase {
  margin: 80px;
}